# MacOSX
.DS_Store

# Python
__pycache__
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PyCharm
.idea/

# Output
model
models
dataset
*.txt
*.zip
*.log

#my own README
READ_ME_LSTM_string_polish.md
READ_ME_LSTM_subtree.md
READ_ME_Transformer_string.md
READ_ME_transformer_subtree.md
