# MacOSX
.DS_Store

# Python
__pycache__
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PyCharm
.idea/

# virtualenv
venv/

# Emacs
*~

# Output
output
model
models
dataset
*.txt
!requirements.txt
!conda-spec-file.txt
*.zip
*.log
*~
*_new.db

# my own README
READ_ME_LSTM_string_polish.md
READ_ME_LSTM_subtree.md
READ_ME_Transformer_string.md
READ_ME_transformer_subtree.md
Common_eq_Polish_IRPP.R
